javaWebServices/clase02/CalculadoraWS02Cliente/src/conf/xml-resources/web-service-references/CalculadoraWebService_1/wsdl/localhost_8080/CalculadoraWS02/CalculadoraWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://calculadoraweb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://calculadoraweb/">

<xs:element name="dividir" type="tns:dividir"/>

<xs:element name="dividirResponse" type="tns:dividirResponse"/>

<xs:element name="multiplicar" type="tns:multiplicar"/>

<xs:element name="multiplicarResponse" type="tns:multiplicarResponse"/>

<xs:element name="potenciar" type="tns:potenciar"/>

<xs:element name="potenciar2" type="tns:potenciar2"/>

<xs:element name="potenciar2Response" type="tns:potenciar2Response"/>

<xs:element name="potenciarResponse" type="tns:potenciarResponse"/>

<xs:element name="restar" type="tns:restar"/>

<xs:element name="restarResponse" type="tns:restarResponse"/>

<xs:element name="sumar" type="tns:sumar"/>

<xs:element name="sumarResponse" type="tns:sumarResponse"/>

<xs:complexType name="sumar">
<xs:sequence>
<xs:element name="arg0" type="xs:double" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sumarResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="potenciar2">
<xs:sequence>
<xs:element name="arg0" type="xs:double" minOccurs="0"/>
<xs:element name="arg1" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="potenciar2Response">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="potenciar">
<xs:sequence>
<xs:element name="arg0" type="xs:double" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="arg1" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="potenciarResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dividir">
<xs:sequence>
<xs:element name="arg0" type="xs:double" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dividirResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="restar">
<xs:sequence>
<xs:element name="arg0" type="xs:double" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="restarResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="multiplicar">
<xs:sequence>
<xs:element name="arg0" type="xs:double" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="multiplicarResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>