javaWebServices/clase02/CalculadoraWS02Cliente/src/conf/xml-resources/web-service-references/CalculadoraWebService_1/wsdl/localhost_8080/CalculadoraWS02/CalculadoraWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://calculadoraweb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://calculadoraweb/" name="CalculadoraWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://calculadoraweb/" schemaLocation="http://localhost:8080/CalculadoraWS02/CalculadoraWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="sumar">
<part name="parameters" element="tns:sumar"/>
</message>
<message name="sumarResponse">
<part name="parameters" element="tns:sumarResponse"/>
</message>
<message name="potenciar2">
<part name="parameters" element="tns:potenciar2"/>
</message>
<message name="potenciar2Response">
<part name="parameters" element="tns:potenciar2Response"/>
</message>
<message name="potenciar">
<part name="parameters" element="tns:potenciar"/>
</message>
<message name="potenciarResponse">
<part name="parameters" element="tns:potenciarResponse"/>
</message>
<message name="restar">
<part name="parameters" element="tns:restar"/>
</message>
<message name="restarResponse">
<part name="parameters" element="tns:restarResponse"/>
</message>
<message name="multiplicar">
<part name="parameters" element="tns:multiplicar"/>
</message>
<message name="multiplicarResponse">
<part name="parameters" element="tns:multiplicarResponse"/>
</message>
<message name="dividir">
<part name="parameters" element="tns:dividir"/>
</message>
<message name="dividirResponse">
<part name="parameters" element="tns:dividirResponse"/>
</message>
<portType name="CalculadoraWeb">
<operation name="sumar">
<input wsam:Action="http://calculadoraweb/CalculadoraWeb/sumarRequest" message="tns:sumar"/>
<output wsam:Action="http://calculadoraweb/CalculadoraWeb/sumarResponse" message="tns:sumarResponse"/>
</operation>
<operation name="potenciar2">
<input wsam:Action="http://calculadoraweb/CalculadoraWeb/potenciar2Request" message="tns:potenciar2"/>
<output wsam:Action="http://calculadoraweb/CalculadoraWeb/potenciar2Response" message="tns:potenciar2Response"/>
</operation>
<operation name="potenciar">
<input wsam:Action="http://calculadoraweb/CalculadoraWeb/potenciarRequest" message="tns:potenciar"/>
<output wsam:Action="http://calculadoraweb/CalculadoraWeb/potenciarResponse" message="tns:potenciarResponse"/>
</operation>
<operation name="restar">
<input wsam:Action="http://calculadoraweb/CalculadoraWeb/restarRequest" message="tns:restar"/>
<output wsam:Action="http://calculadoraweb/CalculadoraWeb/restarResponse" message="tns:restarResponse"/>
</operation>
<operation name="multiplicar">
<input wsam:Action="http://calculadoraweb/CalculadoraWeb/multiplicarRequest" message="tns:multiplicar"/>
<output wsam:Action="http://calculadoraweb/CalculadoraWeb/multiplicarResponse" message="tns:multiplicarResponse"/>
</operation>
<operation name="dividir">
<input wsam:Action="http://calculadoraweb/CalculadoraWeb/dividirRequest" message="tns:dividir"/>
<output wsam:Action="http://calculadoraweb/CalculadoraWeb/dividirResponse" message="tns:dividirResponse"/>
</operation>
</portType>
<binding name="CalculadoraWebPortBinding" type="tns:CalculadoraWeb">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sumar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="potenciar2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="potenciar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="restar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiplicar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dividir">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculadoraWebService">
<port name="CalculadoraWebPort" binding="tns:CalculadoraWebPortBinding">
<soap:address location="http://localhost:8080/CalculadoraWS02/CalculadoraWebService"/>
</port>
</service>
</definitions>